.form {
    box-shadow: 0 0 25px rgba(17, 1, 68, 0.198);
    border-radius: 10px;
}

.select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    width: 200px;
    margin-bottom: 2rem;
}
  
.select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    /* position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: grid;
    place-items: center; */
}

.selectImageContainer {
    height: 20rem;
    width: 20rem;
    background-color: #ffffff;
    box-shadow: 0 0 25px rgba(17, 1, 68, 0.166);
    border-radius: 10px;
}

.selectImageContainer input[type="radio"] {
    position: relative;
    width: 100%;
    cursor: pointer;
    top: 2rem;
    left: 6rem;
}

.selectImageContainer input[type="checkbox"] {
    position: relative;
    width: 100%;
    cursor: pointer;
    top: 2rem;
    left: 6rem;
}

.selectImageContainer input[type="text"] {
    position: relative;
    max-width: 50px;

    width: 100%;
    cursor: pointer;
    top: 2rem;
    left: 6rem;
}

/* Radio button container */
.radio_container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10px;
    padding-left: 5rem;
  }
  
  /* Radio button input */
  .radio_container input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #333;
    border-radius: 50%;
    margin-right: 8px;
    outline: none;
    cursor: pointer;
  }
  
  /* Radio button label */
  .radio_container label {
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Radio button label - checked */
  .radio_container input[type="radio"]:checked:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    margin: 4px;
  }
  
  .progressbar {
    width: 100%;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  .progressbarFill {
    height: 100%;
    border-radius: 10px;
    background-color: #4caf50;
    transition: width 0.3s ease-in-out;
  }
  